@{
    ViewBag.Title = "仪器管理系统";
}

<div class="jumbotron">
    <h1>仪器管理系统</h1>
    <p class="lead">欢迎使用</p>
    
</div>

<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>仪器浏览</h2>
            <p>
                点此检索仪器并提交使用申请。
            </p>
            <p>@Html.ActionLink("下一步»", "EquipSearch", new { }, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
           
        </div>
    }
    else if(User.IsInRole("Admin"))
    {
        <div class="col-md-4">
            <h2>用户信息</h2>
            <p>
                用户总数:@ViewBag.UserCount
            </p>          
        </div>
        <div class="col-md-4">
          <h2>设备类型</h2>
            <p>
                设备类型总数:@ViewBag.EquipmentTypeCount
            </p>
        </div>
        <div class="col-md-4">
        
        </div>
    }
   
</div>